@font-face {
    font-family: "Junicode";
    src: url("../public/font/junicode.regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Junicode";
    src: url("../public/font/junicode.italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
body {
    background-color: #252525;
    padding: 0 0 0 0;
    margin: 0;
}
.navbar{
    display: flex;
    position: fixed;
    padding: 5px 20px;
    align-items: center;
    border-bottom:0.3px solid #bababa;
    justify-content: space-between;
    z-index: 1000;
    background-color: #252525;
    max-width: 1280px;
    width: 100%;
}

.nav-left a{
    text-decoration: none;
    color: #bababa;
}

.nav-left{
    display: flex;
    align-items: center;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 16px;
    font-weight:400;
    gap: 100px;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
}

.sun {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.sign-in{
    font-family: "Bricolage Grotesque", sans-serif;
    color: #bababa;
    font-size: 18px;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid #bababa;
    border-radius: 10px;
    cursor: pointer;
    width: 99px;
    height: 46px;
}

.sign-up{
    font-family: "Bricolage Grotesque", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 400;
    background-color: #F76F53;
    border-color: #F76F53;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
    width: 99px;
    height: 46px;
}
#hero{
    display: flex;              
    justify-content: space-between; 
    align-items: center;       
    padding: 0;           
    min-height: 80vh;   
    width: 100%;
    max-width: 1280px;
    height: 634px;
    margin: 0 auto;
}
.border-image{
    position: absolute;
    top: 55px;
    left: 0;
}
.hero-left{
    top: 40px;
    position: relative;
    padding: 0;
    margin: 0 auto;
}
.open-project{
    position: relative;
    align-items: center;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #bababa;
    width: 226px;
    height: 33px;
    border-radius: 32px;
    border: 1px solid #bababa;
    background-color: transparent;
    opacity: 52%;
}
.hero-text{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.get-text {
    position: relative;
    font-size: 40px;
    color: white;
    font-family: "Bricolage Grotesque";
    margin: 0;
    padding: 0;
}
.omahfe-text {
    position: relative;
    align-items: center;
    display: flex;
    font-family: "Bricolage Grotesque";
    font-size: 128px;
    font-weight: 600;
    background: linear-gradient(90deg, #EDEDED 0%, #878787 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
    height: 128px;
}
.fe{
    position: relative;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    height: 128px;
    -webkit-text-fill-color: #F76F53;
    font-family: "Bricolage Grotesque";
    font-size: 128px;
    font-weight: 600;
}
.rndm-text {
    position: relative;
    color: var(--Basic-White, #EDEDED);
    font-family: Junicode;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}
.button{
    position: relative;
    display: flex;
    padding-top: 40px;
    gap: 30px;
}
.get-started{
    position: relative;
    display: inline-flex;
    padding: 12px 16px;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    border: 1px solid #F76F53;
    background: #F76F53;
    color: #FFF;
    font-family: "Bricolage Grotesque";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.more-analytics{
    position: relative;
    display: inline-flex;
    padding: 12px 16px;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    border: 1px solid var(--Cream, #D1CFC0);
    background-color: transparent;
    color: var(--Cream, #D1CFC0);
    font-family: "Bricolage Grotesque";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.hero-right{
    position: relative;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}
.image-hero{
    position: relative;
    width: 392px;
    height: 359px;
    border-radius: 100px;
    display: flex;
    object-fit: cover;
    flex-direction: row;
    justify-content: flex-end;
}
#about{
    position: relative;
    z-index: 1;
    width: 100%;
}

.about-border{
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(-1);
}
.tentangkami{
    position: relative;
    font-family: "Bricolage Grotesque";
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 60px;
    align-items: center;
    color: white;
    z-index: 100;
}
.par {
    position: relative;
    display: flex;
    font-family: "Plus Jakarta Sans";
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 600px;
    color:white;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
}
.about-text{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}
.about-content{
    position: relative;
    align-items: center;
    display: flex;
    max-width: 1280px;
    height: 634px;
    margin: 0 auto;
    flex-direction: column;
    gap: 30px;
}
.about-border2{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(-1) rotate(180deg);
}

.number{
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    gap: 30px;
}
.number-year{
    flex-direction: column;
    gap: 0;
    margin-top: 0;
}
.number-style{
    margin: 0;
    justify-content: center;
    color: #F76F53;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}
.number-text{
    margin: 0;
    color: #EDEDED;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.selengkapnya-btn{
    align-items: center;
    justify-content: center;
    position: relative;
    display: inline-flex;
    padding: 12px 16px;
    gap: 12px;
    border-radius: 10px;
    background: #F76F53;
    border: 1px solid #F76F53;
    cursor: pointer;
    color: #FFF;
    font-family: "Bricolage Grotesque";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.t-tittle {
    font-family: Bricolage Grotesque;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFF;


}

.testimonial-container {
    width: 1280px;
    margin: 0 auto;
    height: 634px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #252525;
    padding-bottom: 106px;
}

.t-nengah{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.t-arrow {
    display: inline-flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Primary, #F0861A);
    background: var(--Orange, #F76F53);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.t-arrow img {
    width: 20px;
    height: 20px;
}

.t-box {
    width: 860px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

.t-boxkiri {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #D1CFC0;
}

.t-user {
    margin-top: 32px;
    width: 80px;
    height: 80px;
    opacity: 1;
    border-radius: 80px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.t-text{
    margin-left: 67px;
    margin-right: 67px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0;

}

.tname {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    text-align: bottom;
    justify-content: end;
    align-items: end;

}

.t-staff{
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    border: 0px;
    margin: 0px;
    margin-bottom: 22px;
}

.t-rimage {
    width: 50%;
}

.t-rimage img {
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;
}

/* Contact US */
/* contact */
.contact-container {
    border-top: #4F4F51 ;
    background: #252525;
    color: #EDEDED;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 40px 80px; 
}

.contact-title {
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 40px 80px;
    margin: 0px;  
}

.c-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 800px;
    width: 100%;
}


.form-row {
    display: flex;
    gap: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.form-group label {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.form-group input,
.form-group textarea {
    background: #3B3B3B;
    border: none;
    padding: 14px 18px;
    border-radius: 10px;
}



textarea {
    height: 140px;
    resize: none;
}

.contact-btn {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    background: #F76F53;
    color: #FFF;
    font-family: "Bricolage Grotesque";
    font-size: 18px;
    font-weight: 600;
    gap: 10px;
    align-self: flex-end;
}

.send-icon {
    width: 28px;
}
/* Footer */
.contact-container {
    border-top: #4F4F51 ;
    background: #252525;
    color: #EDEDED;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 40px 80px;  
}

.contact-title {
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 40px 80px;
    margin: 0px;  
}

.c-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 800px;
    width: 100%;
}


.form-row {
    display: flex;
    gap: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.form-group label {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
}

.form-group input,
.form-group textarea {
    background: #3B3B3B;
    border: none;
    padding: 14px 18px;
    border-radius: 10px;
    color: #EDEDED;
}

.form-group input::placeholder{
    color: #EDEDED;
}

textarea {
    height: 140px;
    resize: none;
}

.contact-btn {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    background: #F76F53;
    color: #EDEDED;
    font-family: "Bricolage Grotesque";
    font-size: 18px;
    font-weight: 600;
    gap: 10px;
    align-self: flex-end;
}

.send-icon {
    width: 28px;
}

 /* footer */

.footer-container{
    height: 400px;
    color: #EDEDED;
    display: flex;
    align-items: flex-start;
    flex-direction:column;
    gap: 20px;
    padding: 40px 80px;
}
.footerup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}
.footerdown{
    width: 100%;
    padding-top: 15px;
    color: #EDEDED;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    border-top: 1px solid #4F4F51;
    margin-top: 10px;
    align-items: center;
}

.f-kiri {
    width: 50%;
    display: flex;
    align-content: space-between ;
    flex-direction: column;
    gap: 50px;
    align-content: space-between;
    max-width: 500px;
}
.alamat {
    color: #FFF;
    font-family: "Bricolage Grotesque";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logoomahFE{
    width: 174px;
    height: 60px;
    opacity: 1;
    display:flex;
    justify-items: left;

 }

.f-kiriatas{
    opacity: 1;
    letter-spacing: 0%;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    height: auto;
    max-width: 420px;
}


.f-kiribawah {
    margin-top: 20px;
}



.contact-with-us{
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;

}

.f-logo{
    display: flex;
    align-content: center;
    gap: 5px;
}

.sosmed{
    width: 44;
    height: 44;
    opacity: 1;
}

.f-kanan {
    margin-left: auto;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
    width: 40%;
}
.f-aboutus {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}
.pageinspo {
    color: #FFF;
    font-family: "Bricolage Grotesque";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0%;
    background-color: transparent;
    border-color: transparent;
    text-align: left;
}
.f-support{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}
.pasub-btn{

    background-color: transparent;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EDEDED;
    border-color: transparent;
    gap: 0px;
    text-align: left;

}
